{% extends "cconline/base.html" %}
{% load staticfiles %}

{% block body %}
    <h4 class="text-center"><i class="fa fa-newspaper-o"></i> Новости</h4>
    <h5>Новости от 10 марта</h5>
    <p>
        * в списке обследований выводим план. дату обследования, а не дату назначения.
    </p>

    <h5>Новости от 28 декабря</h5>
    <p>
        * изменился интерфейс сайта
    </p>

    <h5>Новости от 30 августа</h5>
    <p>
        + изменился интерфейс сайта
    <br/>* исправлено выполнение назначений для м/с
    <br/>* добавление новых обследований, анализов
    </p>
    <h4 class="text-center"><i class="fa fa-info"></i> О приложении</h4>
    <p>Приложение разработано специально для Павлодарского областного кардиологического центра</p>
    <p><strong>Автор:</strong> Филюшин Д.</p>
    <p class="text-center">ИП Сибирь-Проект, 2015-2017 г.г.</p>

    <div class="text-center">
        <a href="/" class="btn btn-outline-primary" role="button">На главную</a>
    </div>

{% endblock %}