{% load staticfiles %}
<!DOCTYPE html>
<html lang="ru"  ng-app="vikingApp">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/yeti.bootstrap.min.css' %}" >
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}" />
    {% block jscript %}
    {% endblock %}
    <title>КардиоКарта Онлайн</title>
</head>

<body>
<a href="{% url 'index' %}">
        <img src="{% static 'images/logo.png'%}" class="center-block">
</a>

<div class="container">
        {% block body %}
        {% endblock %}
</div>
</body>

</html>