{% load staticfiles %}
<!DOCTYPE html>
<html lang="ru"  ng-app="nurseApp">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}" />

    <script src="{% static 'js/lib/angular.min.js' %}"></script>
    <script src="{% static 'js/lib/angular-route/angular-route.min.js' %}"></script>
    <script src="{% static 'js/lib/angular_ru-ru.js' %}"></script>
    <script src="{% static 'js/app.js' %}"></script>
    <script src="{% static 'js/controllers.js' %}"></script>

    <script src="{% static 'js/jquery-3.2.1.slim.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>


    <title>КардиоКарта Онлайн</title>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-108549210-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-108549210-1');
    </script>
</head>

<body>
    <h3 class="text-center"><a href="{% url 'index' %}"> КардиоКарта <img src="{% static 'images/reactedhearticon.svg'%}"> Онлайн</a></h3>
    <div class="container">
            {% block body %}
            {% endblock %}
    </div>

</body>

</html>