{% extends "cconline/base.html" %}

{% block body %}
<div class="container-fluid">
    <div class="center-block">

        <h3 class="text-center">По отделениям</h3>
    </div>
    {%  for item in departs %}
        <p>
            <a href="{% url 'departs_patient' iddepart=item.id %}" class="btn btn-primary btn-wide center-block" role="button">
                {{ item.name }}
            </a>
        </p>
    {% endfor %}

    <a href="/" class="text-center btn btn-default btn-sm center-block">На главную</a>
</div>

{% endblock %}