{% extends "cconline/base.html" %}

{% block body %}
    <div class="card">
        <div class="card-body">
            <h4 class="card-title"><i class="fa fa-calendar-check-o"></i>Дневник пациента</h4>
            <p class="card-text"><a href="{% url 'get_patient' idpatient=history.id %}">{{ history.lastname }} {{ history.firstname }} {{ history.middlename }}</a></p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item"><i class="fa fa-calendar"></i> {{ diary.reg_date|date:"d.m.Y H:i" }}</li>
            <li class="list-group-item"><i class="fa fa-user-md"></i> {{ diary.doctor }} ({{ diary.depart_name }})</li>
            {% if diary.diary_name %}
                <li class="list-group-item"><i class="fa fa-users"></i> {{ diary.diary_name }}</li>
            {% endif %}
            <li class="list-group-item"><i class="fa fa-file-text-o"></i> {{ diary.blob_text }}</li>
            <li class="list-group-item">
                <div class="text-center">
                    <a href="{% url 'edit_diary' id_diary=diary.id %}" class="btn btn-primary" role="button">Изменить</a>
                    <a href="{% url 'delete_diary' id_diary=diary.id %}" class="btn btn-danger" role="button">Удалить</a>
                </div>
            </li>
        </ul>
    </div>

    <div class="text-center pt-3">
        <a href="{% url 'list_diary' idpatient=diary.id_history %}" class="btn btn-outline-primary">К дневникам</a>
    </div>

{% endblock %}