{% extends "cconline/base.html" %}

{% block body %}
<div class="container-fluid">
    <h4 class="text-center">Дневник пациента</h4>
    <p>
        <strong>Пациент:</strong> № {{ history.num_history }} {{ history.lastname }}
        </br><strong>Дата:</strong> {{ diary.reg_date|date:"d.m.Y H:i" }}
        </br><strong>Врач:</strong> {{ diary.doctor }}
        </br><strong>Отделение:</strong> {{ diary.depart_name }}
    </p>

    {% if diary.diary_name %}
    <p><strong>Совместный осмотр:</strong> {{ diary.diary_name }}</p>
    {% endif %}

    <p><strong>Запись осмотра:</strong>
        {{ diary.blob_text }}
    </p>

    <div class="row">
        <div class="col-xs-6 text-center">
            <a href="{% url 'edit_diary' id_diary=diary.id %}" class="btn btn-primary" role="button">Изменить</a>
            </div>
        <div class="col-xs-6 text-center" >
            <a href="{% url 'delete_diary' id_diary=diary.id %}" class="btn btn-warning" role="button">Удалить</a>
        </div>
    </div>

    <p>
        </br>
        <a href="{% url 'list_diary' idpatient=diary.id_history %}" class="text-center btn btn-default btn-sm center-block">К дневникам</a>
    </p>
</div>

{% endblock %}