{% extends "cconline/base.html" %}
{% load staticfiles %}

{% block jscript %}
{% endblock %}

{% block body %}
    <script src="{% static 'js/lib/angular.min.js' %}"></script>

    <script type="text/javascript">
        var myApp = angular.module('myApp', []);
    </script>
    <script src="{% static 'js/controllers/diaryController.js' %}"></script>

    <h4>Ввод дневника</h4>
    <p><strong>Пациент:</strong> № {{ history.num_history }} {{ history.lastname }} {{ history.firstname  }}
{{ form.id_history }}

      <form class="form" action="/diary/save/" method="post">
          {% csrf_token %}

          <div class="form-group">
            {{ form }}
          </div>
{% verbatim %}
          <div  ng-controller="DiaryController">
              <div class="form-group">
                  <select class="form-control" name="repeatSelect" id="repeatSelect" ng-model="selectedTemplate" ng-change="getTemplate()">
                      <option ng-repeat="template in list_templates" value="{{template.pk}}">{{template.fields.name}}</option>
                  </select>
              </div>
          </div>
{% endverbatim %}
          <button type="submit" class="btn btn-primary">Сохранить</button>
          <a href="{% url 'list_diary' idpatient=id_history %}" class="btn btn-outline-primary" role="button">Вернуться</a>
      </form>

{% endblock %}