{% extends "cconline/base.html" %}

{% block body %}
<div class="container-fluid" xmlns="http://www.w3.org/1999/html">
    <h4 class="text-center">{{ examen.name_exam }} </h4>
    <p><strong>Пациент:</strong> {{ examen.patient }}
    </br><strong>Отделение:</strong> {{ examen.depart }}
    </br><strong>Врач:</strong> {{ examen.doctor }}
    </br><strong>Назначен:</strong>  {{ examen.date_assign|date:"d.m.Y H:i" }}
    </br><strong>Назначен на:</strong> {{ examen.date_plan|date:"d.m.Y H:i" }}
    </br><strong>Принят м/с:</strong> {{ examen.date_nurse|date:"d.m.Y H:i" }}
    </br><strong>Выполнен:</strong> {{ examen.date_execute|date:"d.m.Y H:i" }}</p>

    {% if examen.feature_data %}
        <strong>Особенности</strong>
        <p>
            {{ examen.feature_data }}
        </p>
    {% endif %}
    <strong>Заключения</strong>
    <p>
        {% if examen.conclusion %}
        {{ examen.conclusion }}
        {% endif %}
    </p>
    {% if params %}
        <div class="panel panel-default">
            <div class="panel-heading">Данные обследования</div>
            <div class="panel-body">
                <table class="table table-condensed">
                {%  for item in params %}
                    <tr>
                    <td>{% if item.type == 8 %} <strong> {% endif %}{{ item.param }} {% if item.type == 8 %} </strong> {% endif %}</td>
                    <td>{% if item.value %}{{ item.value }} {{ item.measure }} {% endif %}</td>
                    </tr>
                {% endfor %}
                </table>
            </div>
        </div>
    {% endif %}

    <p class="text-right">
        <a href="{% url 'delete_exam' id_exam=examen.id %}" class="btn btn-warning" role="button">Удалить</a>
    </p>

    <p>
        <a href="{% url 'list_exam' idpatient=examen.id_history.id %}" class="text-center btn btn-default btn-sm center-block">В историю болезни</a>
        <a href="{% url 'last_examenation' %}" class="text-center btn btn-default btn-sm center-block">К обследованиям</a>
    </p>

</div>

{% endblock %}