{% extends "cconline/base.html" %}
{% load staticfiles %}

{% block body %}
    <form action="/search/" method="post" role="form">{% csrf_token %}
        <div class="input-group">
            <input type="text" class="form-control" name="patient" placeholder="Поиск по ФИО или № истории" required>
            <span class="input-group-btn">
                <button type="submit" class="btn btn-primary" type="button"><i class="fa fa-search"></i></button>
            </span>
        </div>
    </form>
    <div class="col-lg-12 mt-3"></div>

    <ul class="list-group">
        {% if "NURSE" in list_group %}
            <a href="{% url 'departs_patient' iddepart=id_depart %}" class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex">
                    <div class="p-0"><span class="fa fa-hospital-o"></span></div>
                    <div class="p-0 ml-3">Пациенты отделения</div>
                    <div class="ml-auto p-0"><span class="fa fa-angle-double-right"></span></div>
                </div>
            </a>
            <a href="{% url 'nurse_work' %}" class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex">
                    <div class="p-0"><span class="fa fa-tasks"></span></div>
                    <div class="p-0 ml-3">Журнал назначений</div>
                    <div class="ml-auto p-0"><span class="fa fa-angle-double-right"></span></div>
                </div>
            </a>
            <a href="{% url 'nurse_patients' %}" class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex">
                    <div class="p-0"><span class="fa fa-medkit"></span></div>
                    <div class="p-0 ml-3">Назначения по пациентам</div>
                    <div class="ml-auto p-0"><span class="fa fa-angle-double-right"></span></div>
                </div>
            </a>
        {% endif %}

        {% if "DOCTOR" in list_group  or "MASTER_NURSE" in list_group  or "FUNCT" in list_group  or "PROF_DOCTOR" in list_group %}
            {% if "DOCTOR" in list_group %}
                <a href="{% url 'my_patient' %}" class="list-group-item list-group-item-action flex-column align-items-start">
                    <div class="d-flex">
                        <div class="p-0"><span class="fa fa-heartbeat"></span></div>
                        <div class="p-0 ml-3">Мои пациенты</div>
                        <div class="ml-auto p-0"><span class="fa fa-angle-double-right"></span></div>
                    </div>
                </a>
                {% if cnt_monitored %}
                    <a href="{% url 'under_observation' %}" class="list-group-item list-group-item-action flex-column align-items-start">
                        <div class="d-flex">
                            <div class="p-0"><span class="fa fa-eye"></span></div>
                            <div class="p-0 ml-3">Под наблюдением</div>
                            <div class="ml-auto p-0"><span class="fa fa-angle-double-right"></span></div>
                        </div>
                    </a>
                {% endif %}
            {% endif %}
            <a href="{% url 'patient_by_depart' %}" class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex">
                    <div class="p-0"><span class="fa fa-sitemap"></span></div>
                    <div class="p-0 ml-3">По отделениям</div>
                    <div class="ml-auto p-0"><span class="fa fa-angle-double-right"></span></div>
                </div>
            </a>
        {% endif %}

        <a href="{% url 'choose_test' %}" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex">
                <div class="p-0"><span class="fa fa-tachometer"></span></div>
                <div class="p-0 ml-3">Обследования</div>
                <div class="ml-auto p-0"><span class="fa fa-angle-double-right"></span></div>
            </div>
        </a>

        {% if "DOCTOR" in list_group  or "MASTER_NURSE" in list_group  or "FUNCT" in list_group %}
            <a href="{% url 'stat' %}" class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex">
                    <div class="p-0"><span class="fa fa-line-chart"></span></div>
                    <div class="p-0 ml-3">Статистика</div>
                    <div class="ml-auto p-0"><span class="fa fa-angle-double-right"></span></div>
                </div>
            </a>
        {% endif %}
            <a href="{% url 'patient_map' %}" class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex">
                    <div class="p-0"><span class="fa fa-map-o"></span></div>
                    <div class="p-0 ml-3">Карта пациентов</div>
                    <div class="ml-auto p-0"><span class="fa fa-angle-double-right"></span></div>
                </div>
            </a>
    </ul>
    <hr width="50%">

    <div class="row">
        <div class="col text-center">
            <a href="{% url 'about' %}" title="О приложении"><i class="fa fa-question-circle-o fa-2x"></i></a>
        </div>
        <div class="col text-center">
            <a href="{% url 'user_profile' %}" class="small"><i class="fa fa-user-md"></i> {{ current_user }}</a>
        </div>
        <div class="col text-center">
        {% if current_doc %}
            <a href="/logout" title="Выход"><i class="fa fa-sign-out fa-2x"></i></a>
        {% endif %}
        </div>
    </div>
{% endblock %}