{% extends "cconline/base.html" %}

{% block body %}
<div class="container-fluid">
    <h4 class="text-center">{{ order.name_labanalysis }} </h4>
    <p><strong>Пациент:</strong> № {{ history.num_history }} {{ history.lastname }} {{ history.firstname  }}
    </br><strong>Отделение:</strong> {{ order.depart }}
    </br><strong>Врач:</strong> {{ order.doctor }}
    </br><strong>Назначен:</strong> {{ order.date_assign|date:"d.m.Y H:i" }}
    </br><strong>Принят м/с:</strong> {{ order.nurse_date_execute|date:"d.m.Y H:i" }}
    </br><strong>Выполнен:</strong> {{ order.date_execute|date:"d.m.Y H:i" }} </p>


    <div class="panel panel-default">
        <div class="panel-heading">Результат</div>
        <div class="panel-body">
            <table class="table table-condensed">
                <thead>
                    <th>Параметр</th>
                    <th>Значение</th>
                    <th>Норма</th>
                </thead>
                <tbody>
                    {%  for item in result %}
                    <tr>
                    <td>{{ item.param_name }}</td>
                    <td>{% if item.ad_value %}{{ item.ad_value }} {% if item.measure %}{{ item.measure }} {% endif %} {% endif %} </td>
                    <td>{% if item.norm_value %}{{ item.norm_value }}{% endif %}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <p>
        <a href="{% url 'list_lab' idpatient=order.id_history.id %}" class="text-center btn btn-default btn-sm center-block">В историю болезни</a>
        <a href="{% url 'last_laboratory' iddepart=id_depart %}" class="text-center btn btn-default btn-sm center-block">К обследованиям</a>
    </p>
</div>

{% endblock %}