{% extends "cconline/base.html" %}

{% block body %}
    <h4 class="text-center">Инструментальные исследования</h4>

    <div class="list-group">
            {%  for item in exams %}

                <a href="{% url 'get_exam' id=item.id %}" class="list-group-item list-group-item-action flex-column align-items-start">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">{{ item.id_history.lastname|upper }} {{ item.id_history.firstname|upper }} {{ item.id_history.middlename|upper }}</h5>
                      <small>{{ item.id_history.num_history }}</small>
                    </div>
                    <p class="mb-1"><i class="fa fa-medkit" aria-hidden="true"></i> {{ item.name_exam }}</p>
                    <p class="mb-1"><i class="fa fa-calendar" aria-hidden="true"></i> {{ item.date_execute|date:"Y.d.m H:i" }}</p>
                </a>
            {% endfor %}
    </div>


    <p><a href="{% url 'choose_test' %}" class="btn btn-default btn-wide center-block" role="button">К выбору</a></p>

{% endblock %}