{% extends "cconline/base.html" %}

{% block body %}
<h2>
    <a href="{% url 'get_patient' idpatient=history.id %}">№{{ history.num_history }} {{ history.lastname }}</a>
</h2>
<div class="center-block">
    <h3>Дневники</h3>
</div>

    <p><a href="{% url 'add_diary' idpatient=history.id  %}" class="btn btn-primary" role="button">Добавить</a></p>

<div class="container-fluid">
    <table class="table table-condensed">
        <tbody>
            {%  for item in diarys %}
            <tr>
                <td><a href="{% url 'get_diary' id_diary=item.id %}">{{ item.reg_date|date:"d.m.Y H:i" }}</a></td>
                <td><a href="{% url 'get_diary' id_diary=item.id %}">{{ item.doctor }}</a></td>
                <td><a href="{% url 'get_diary' id_diary=item.id %}">{{ item.depart_name }}</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
    {% if diarys %}
    <p><a href="{% url 'add_diary' idpatient=history.id  %}" class="btn btn-primary" role="button">Добавить</a></p>
    {% endif %}
{% endblock %}