{% extends "cconline/base.html" %}

{% block body %}

    <h2><a href="/patient/{{ history.id }}">№{{ history.num_history }} {{ history.lastname }}</a></h2>
<div class="table-responsive">
    <table class="table table-hover table-responsive table-condensed">
        <thead>
            <tr>
                <th>Вид анализа</th>
                <th>Выполнен</th>
            </tr>
        </thead>
        <tbody>
            {%  for item in labs %}
            <tr>
                <td>{% if item.date_execute %} <a href="/labs/{{ item.id }}"> {% endif %}{{ item.name_labanalysis }}{% if item.date_execute %}</a>{% endif %}</td>
                <td>{% if item.date_execute %}{{ item.date_execute|date:"d.m.Y H:d" }}{% else %}не выполнен{% endif %}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}