{% extends "cconline/base.html" %}

{% block body %}
    <h4><a href="{% url 'get_patient' idpatient=history.id %}">№{{ history.num_history }} {{ history.lastname|lower|capfirst }}</a></h4>
    <h4 class="text-center">Профосмотры</h4>


    <div class="container-fluid">
        <table class="table table-condensed">
            <tbody>
                {%  for item in proflist %}
                <tr>
                    <td><a href="{% url 'proview' id=item.id %}">{{ item.specname }}</a></td>
                    <td><a href="{% url 'proview' id=item.id %}">{{ item.doctor }}</a></td>
                    <td><a href="{% url 'proview' id=item.id %}">{{ item.viewdate|date:"d.m.Y H:i" }}</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <p>
        <a href="{% url 'add_prof' idpatient=history.id %}" class="text-center btn btn-primary btn-sm center-block">Назначить</a>
    </p>
{% endblock %}