{% extends "cconline/base.html" %}

{% block body %}

    <h2><a href="{% url 'get_patient' idpatient=history.id %}">№{{ history.num_history }} {{ history.lastname }}</a></h2>

<div class="container-fluid">
    <table class="table table-condensed">
        <thead>
                <th>Обследование</th>
                <th>Выполнен</th>
        </thead>
        <tbody>
            {%  for item in examens %}
            <tr>
                <td>
                    {% if item.date_execute %}<a href="{% url 'get_exam' id=item.id %}">{% endif %}{{ item.name_exam }}{% if item.date_execute %}</a>{% endif %}
                </td>
                <td>
                    {% if item.date_execute %}<a href="{% url 'get_exam' id=item.id %}">{{ item.date_execute|date:"d.m.Y H:d" }}</a>{% else %} в процессе {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</div>

    <p><a href="{% url 'add_exam' idpatient=history.id %}" class="btn btn-primary" role="button">Назначить</a></p>

{% endblock %}