{% extends "cconline/base.html" %}

{% block body %}

    <h2><a href="{% url 'get_patient' idpatient=history.id %}">№{{ history.num_history }} {{ history.lastname }}</a></h2>

<div class="container-fluid">
    <table class="table table-condensed">
        <tbody>
            {%  for item in dataset %}
            <tr>
                <td><a href="{% url 'get_medication' id=item.id %}">{{ item.medic_name }}</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>


{% endblock %}