{% extends "cconline/base.html" %}
{% load staticfiles %}
{% load humanize %}
{% block body %}

    <div class="mt-3">
    <a href="{% url 'get_patient' idpatient=history.id %}">
            <h4 class="text-center">{{ history.lastname|lower|capfirst }} <i class="fa fa-id-card-o"></i> {{ history.num_history }}</h4>
    </a>
    </div>
    <h4 class="text-center">Лабораторные анализы</h4>
    <div class="d-flex justify-content-center mt-3 mb-3">
        <a href="{% url 'add_lab' idpatient=history.id %}" class="btn text-center btn-primary">Назначить</a>
    </div>

    <div class="list-group">
        {%  for item in labs %}
            <a href="{% url 'get_lab' id=item.id %}" class="list-group-item list-group-item-action">
                <div class="row">
                    <div class="d-flex w-100 justify-content-between">
                        <h5>
                            <span class="d-none d-lg-inline d-md-inline"><i class="fa fa-flask"></i></span> {{ item.name_labanalysis }}
                        </h5>
                        <small>
                            {% if item.date_execute %}<i class="fa fa-check-circle text-info"></i><span class="d-none d-lg-inline">{{ item.date_execute|naturalday }}</span>{% else %}<i class="fa fa-spinner fa-pulse fa-spin align-center"></i>{% endif %}
                        </small>
                    </div>
                    <div class="col-6">
                      {{ item.date_assign|date:"d.m.y H:i" }}
                    </div>

                    <div class="col-3">
                        {% if item.lisid %}{{ item.lisid }} {% else %} - {% endif %}
                    </div>
                  </div>
            </a>
        {% endfor %}
    </div>
{% endblock %}