{% extends "cconline/base.html" %}

{% block body %}

    <h2><a href="/patient/{{ idpatient }}">№{{ num }} {{ patient }}</a></h2>

<div class="table-responsive">
    <table class="table table-condensed">
        <thead>
            <tr>
                <th>Обследование</th>
                <th>Выполнен</th>
            </tr>
        </thead>
        <tbody>
            {%  for item in examens %}
            <tr>
                <td><a href="/examen/{{ item.id }}">{{ item.name_exam }}</a></td>
                <td>{{ item.date_execute|date:"d.m.Y H:d" }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</div>

    <p><a href="/examen/add/{{ idpatient }}" class="btn btn-primary" role="button">Назначить</a></p>

{% endblock %}