{% extends "cconline/base.html" %}

{% block body %}

    <h2><a href="{% url 'get_patient' idpatient=history.id %}">№{{ history.num_history }} {{ history.lastname }}</a></h2>
    <p><a href="/lab/add/{{ history.id }}" class="btn btn-primary" role="button">Назначить</a></p>
<div class="container-fluid">
    <table class="table table-condensed">
        <thead>
            <tr>
                <th>Вид анализа</th>
                <th>Выполнен</th>
            </tr>
        </thead>
        <tbody>
            {%  for item in labs %}
            <tr>
                <td>{% if item.date_execute %} <a href="{% url 'get_lab' id=item.id %}"> {% endif %}{{ item.name_labanalysis }}{% if item.date_execute %}</a>{% endif %}</td>
                <td>{% if item.date_execute %}{{ item.date_execute|date:"d.m.Y H:d" }}{% else %}не выполнен{% endif %}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

    {% if labs %}
    <p><a href="{% url 'add_lab' idpatient=history.id %}" class="btn btn-primary" role="button">Назначить</a></p>
    {% endif %}

{% endblock %}