{% extends "cconline/base.html" %}
{% load cconline_extras %}
{% load staticfiles %}

{% block body %}

    <h4><a href="{% url 'get_patient' idpatient=history.id %}">№{{ history.num_history }} {{ history.lastname }}</a></h4>
    <h4>Назначено: {{ medicname }} </h4>

    <div class="container-fluid">
        <table class="table table-condensed">
            <tbody>
                {%  for item in dataset %}
                <tr>
                    <td>{{ item.doctor }}</td>
                    <td>{% ifequal item.appoint|date:"Y" year %}{{ item.appoint|date:"j b H:i" }}{% else %} {{item.appoint|date:"d.m.Y H:i"}} {% endifequal %} </td>
                    <td>{{ item.composit }}</td>
                    <td>Д:{{ item.dose }}</td>
                    <td>{{ item.count_drug }}</td>
                    <td>{{ item.appl_form }}</td>
                    <td>{% if item.eat_time %} <img src="{% static 'images/tick.png' %}"> {% endif %}</td>
                {% if "DOCTOR" in list_group %}
                    <td><a href="/prolong_medication/{{ item.id }}" class="btn btn-primary btn-xs" role="button">Продлить</a></td>
                {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>
    <p><a href="{% url 'list_medication' idpatient=history.id  %}" class="btn btn-default btn-wide center-block" role="button">К назначениям</a></p>
{% endblock %}