{% extends "cconline/base.html" %}
{% load staticfiles %}

{% block jscript %}
    <script src="{% static 'js/lib/angular.min.js' %}"></script>
    <script type="text/javascript">var myApp = angular.module('myApp', []);</script>
    <script src="{% static 'js/controllers/labController.js' %}"></script>
{% endblock %}

{% block body %}

    <div class="card-body">
        <h4 class="card-title"><i class="fa fa-flask"></i>Назначение анализа</h4>
        <p class="card-text"><a href="{% url 'get_patient' idpatient=history.id %}">{{ history.lastname }} {{ history.firstname }} {{ history.middlename }}</a></p>
    </div>

    <div  ng-controller="LabController">
        <div class="container">
              <form class="form">{% csrf_token %}
                  <input type="hidden" name="id_history" value="{{ history.id }}">
            {% verbatim %}

                  <div class="form-group">
                    <select class="form-control" name="repeatSelect" id="repeatSelect" ng-model="selectedPk" ng-change="getSubTest()">
                      <option ng-repeat="test in tests" value="{{test.pk}}">{{test.fields.name}}</option>
                    </select>
                  </div>

                <table class="table table-responsive table-condensed" ng-show="tableVisible">
                    <thead>
                        <th>Тест</th>
                        <th>Выбран</th>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in subTest">
                            <td>{{item.fields.name}}</td>
                            <td><input type="checkbox" ng-model="item.fields.checked" /></td>
                        </tr>
                    </tbody>
                </table>

                  <div class="form-group">
                      <div class="row">
                          <div class="col-md-4">
                              <label class="control-label" for="plan_date">Дата проведения:</label>
                              <input type="date" class="form-control" name="plan_date" id="plan_date" ng-model="plan_date2">
                          </div>
                      </div>

                      <div class="row">
                          <div class="col-md-4">
                              <label class="control-label" for="plan_time">Время проведения:</label>
                              <input type="time" class="form-control" name="plan_time" id="plan_time" placeholder="HH:mm:ss" ng-model="plan_time2" >
                          </div>
                      </div>

                  </div>
                  <div class="form-check">
                      <label class="form-check-label">
                        <input class="form-check-input" type="checkbox" ng-model="isCito">CITO
                      </label>
                  </div>
        {% endverbatim %}

                  <button type="button" class="btn btn-primary" ng-click="sendData()">Назначить</button>
                  <a href="/laboratory/list/{{ history.id }}" class="btn btn-outline-primary" role="button">Вернуться</a>
              </form>
        </div>

    </div>

{% endblock %}