{% extends "cconline/base.html" %}
{% load staticfiles %}

{% block jscript %}

{% endblock %}

{% block body %}
<!-- Begin page content -->
<h2>Назначение осмотра профильным специалистом</h2>
<div class="container">
      <form class="form" action="{% url 'save_prof' %}" method='post'>{% csrf_token %}
          <input type="hidden" name="id_history" value="{{ id }}">
          <div class="form-group">
          <label class="control-label" for="dateview">ФИО пациента:</label>
              <input type="text" class="form-control" name="fio" id="dateview" value="{{ history.lastname }}" autofocus disabled >
          </div>

          <div class="form-group">
          <label class="control-label" for="specs">Профильный специалист:</label>
              <select class="form-control" name="specs" id="specs" >
                  {% for item in spec_list %}
                      <option value="{{ item.id }}">{{ item.name }}</option>
                  {% endfor %}
              </select>
          </div>

          <div class="form-group">

              <div class="row">
                  <div class="col-md-2">
                      <label class="control-label" for="plan_date">Дата проведения:</label>
                      <input type="date" class="form-control" name="plan_date" id="plan_date" value="{% now "Y" %}" placeholder="Год">
                  </div>
              </div>

              <div class="row">

                  <div class="col-md-2">
                      <label class="control-label" for="plan_time">Время проведения:</label>
                      <input type="time" class="form-control" name="plan_time" id="plan_time" value="{% now "H:i" %}" placeholder="Часы" pattern="[0-9]{1,2}">
                  </div>
              </div>
          </div>


          <button type="submit" class="btn btn-default">Назначить</button>
          <a href="{% url 'list_proview' idpatient=id %}" class="btn btn-default" role="button">Вернуться</a>
      </form>
</div>
{% endblock %}