{% extends "cconline/base_nurse.html" %}
{% load staticfiles %}

{% block body %}
<!-- Begin page content -->
<div class="container">
<p><a href="{% url 'index' %}" class="btn btn-default btn-wide center-block" role="button">На главную</a></p>
    <div class="header">
    <div class="span12 centered-pills">
        <ul class="nav nav-pills">
            <li ng-class="labClass"><a href="#/lab" class="glyphicon icon-tubes"></a></li>
            <li ng-class="examClass"><a href="#/exam" class="glyphicon icon-monitor"></a></li>
            <li ng-class="drugClass"><a href="#/drug" class="glyphicon icon-pills"></a></li>
            <li ng-class="doctorClass"><a href="#/doctor" class="glyphicon icon-doctor"></a></li>
        </ul>
    </div>
    </div>
</div>
<div ng-controller="HelperCtrl">
    <div ng-view>

    </div>
</div>


{% endblock %}