{% extends "cconline/base.html" %}

{% block body %}
<div class="container-fluid">
    <h4 class="text-center">Сестринский осмотр</h4>
    <p>
        <strong>Пациент: </strong>№{{ view.num_card }} {{ view.patient }}
        </br><strong>Дата: </strong>{{ view.date_view|date:"d.m.Y H:i" }}
        </br><strong>Отделение: </strong> {{ view.depart }}
        </br><strong>Мед. сестра: </strong>{{ view.nurse }}
    </p>

    <h4 class="text-center">Данные осмотра</h4>
    <table class="table table-condensed">
        <tbody>
            {%  for item in nurse_data %}
            <tr>
                <td><strong>{{ item.group }}</strong>: {{ item.value }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <p>
        </br>
        <a href="{% url 'list_nurse' idpatient=view.id_history %}" class="text-center btn btn-default btn-sm center-block">К осмотрам</a>
    </p>

</div>

{% endblock %}