{% extends "cconline/base.html" %}

{% block body %}
<div class="container-fluid">
    <p><a href="{% url 'list_nurse' idpatient=view.id_history %}">К списку сестринских осмотров</a></p>
    <h3>Сестринский осмотр</h3>
    <p><em>Пациент: </em>{{ view.patient }} [{{ view.num_card }}]</p>
    <p><em>Дата: </em>{{ view.date_view|date:"d.m.Y H:i" }}</p>
    <p><em>Мед. сестра: </em>{{ view.nurse }} </p>
    <p><em>Отделение: </em> {{ view.depart }}</p>

    <table class="table table-hover table-responsive table-condensed">
        <tbody>
            {%  for item in nurse_data %}
            <tr>
                <td><strong>{{ item.group }}</strong>: {{ item.value }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <p><a href="{% url 'list_nurse' idpatient=view.id_history %}">К списку сестринских осмотров</a></p>
</div>

{% endblock %}