{% extends "cconline/base.html" %}

{% block body %}
<div class="container-fluid">
    <h4>Температурный лист пациента</h4>
    <p>
        <strong>Пациент: </strong>№{{ view.num_card }} {{ view.patient }}
        </br><strong>Дата: </strong>{{ view.date_view|date:"d.m.Y H:i" }}
        </br><strong>Отделение: </strong> {{ view.depart }}
        </br><strong>Мед. сестра: </strong>{{ view.nurse }}
    </p>
    <table class="table table-hover table-responsive table-condensed">
        <thead>
            <tr>
                <th>Параметр</th>
                <th>Значение</th>
            </tr>
        </thead>
        <tbody>
            {%  for item in values %}
            <tr>
                <td>{{ item.param_name }}</td>
                <td>{{ item.value1 }}  {% if item.value2 > 0 %} {{ item.value2 }} {% endif %} {% if item.unit %} {{ item.unit }} {% endif %}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <p>
        </br>
        <a href="{% url 'list_nurse' idpatient=view.id_history %}" class="text-center btn btn-default btn-sm center-block">К температурным листам</a>
    </p>

</div>

{% endblock %}