{% extends "cconline/base.html" %}

{% block body %}

    <h4 class="text-center">Оценка боли</h4>
    <p>
        <strong>Пациент:</strong> №{{ view.num_history }} {{ view.patient }}
        </br><strong>Дата:</strong> {{ view.date_view|date:"d.m.Y H:i" }}
        </br><strong>М/с:</strong> {{ view.nurse }}
        </br><strong>Отделение:</strong> {{ view.depart }}
    </p>

    <p class="text-center">Запись осмотра</p>
    <p>
        <strong>Балл по шкале: </strong> {{ view.pain_value }}
        </br><strong>Характер боли: </strong> {{ view.type_pain_str }}
        </br><strong>Место где болит: </strong> {% if view.pain_place %}{{ view.pain_place }} {% else %} не указано {% endif %}
        </br><strong>Оказана помощь: </strong> {{ view.type_care }}
        </br>
        <label>
            <input type="checkbox" {% if view.is_allergy == 1 %} checked {% endif %} disabled> Аллергия
        </label>
        <label>
            <input type="checkbox" {% if view.is_adaptation == 1 %} checked {% endif %} disabled> Привыкание
        </label>
        <label>
            <input type="checkbox" {% if view.is_puke == 1 %} checked {% endif %} disabled>Тошнота/рвота
        </label>
        <label>
            <input type="checkbox" {% if view.is_pain_inside == 1 %} checked {% endif %} disabled>Боли в желудке
        </label>
        <label>
            <input type="checkbox" {% if view.is_latch == 1 %} checked {% endif %} disabled>Запор
        </label>
    </p>

    <p>
        </br>
        <a href="{% url 'list_nurse' idpatient=view.id_history %}" class="text-center btn btn-default btn-sm center-block">К осмотрам</a>
    </p>


{% endblock %}