{% extends "cconline/base.html" %}
{% load staticfiles %}

{% block body %}

    <h4><a href="{% url 'get_patient' idpatient=idpatient %}">№{{ num }} {{ patient }}</a></h4>

    <ul class="nav nav-tabs">
        <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#evTempList"><i class="fa fa-thermometer-empty"></i>Температурный лист</a></li>
        <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#evNurseView"><i class="fa fa-television"></i>Осмотры</a></li>
        <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#evRiskDown"><i class="fa fa-wheelchair"></i>Риск падения</a></li>
        <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#evPainStatus"><i class="fa fa-bell"></i>Оценка боли</a></li>
    </ul>

    <div class="tab-content">
        <div role="tabpanel" id="evTempList" class="tab-pane active">
            <table class="table table-condensed">
                <tbody>
                    {%  for item in temp_list %}
                    <tr>
                        <td><a href="{% url 'get_temperature_list' id=item.id %}"> {{ item.date_view|date:"d.m.Y H:i" }}</a></td>
                        <td>{{ item.nurse }}</td>
                        <td>{{ item.depart }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div role="tabpanel" id="evNurseView" class="tab-pane fade in">
            <table class="table table-condensed">
                <tbody>
                    {%  for item in view_list %}
                    <tr>
                        <td><a href="{% url 'get_nurse_view' id=item.id %}"> {{ item.date_view|date:"d.m.Y H:i" }}</a></td>
                        <td>{{ item.nurse }}</td>
                        <td>{{ item.depart }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

        </div>
        <div role="tabpanel" id="evRiskDown" class="tab-pane fade in">
            <table class="table table-condensed">
                <tbody>
                    {%  for item in down_list %}
                    <tr>
                        <td><a href="{% url 'get_risk_down' id=item.id %}"> {{ item.date_view|date:"d.m.Y H:i" }}</a></td>
                        <td>{{ item.nurse }}</td>
                        <td>{{ item.depart }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

        </div>
        <div role="tabpanel" id="evPainStatus" class="tab-pane fade in">
            <table class="table table-condensed">
                <tbody>
                    {%  for item in pain_list %}
                    <tr>
                        <td><a href="{% url 'get_pain_status' id=item.id %}"> {{ item.date_view|date:"d.m.Y H:i" }}</a></td>
                        <td>{{ item.nurse }}</td>
                        <td>{{ item.depart }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

        </div>
    </div>

{% endblock %}

{% block jscript %}


{% endblock %}