{% extends "cconline/base.html" %}

{% block body %}

    <div class="card">
        <div class="card-body">
            <h4 class="card-title"><i class="fa fa-calendar-check-o"></i>Температурный лист</h4>
            <p class="card-text"><a href="{% url 'get_patient' idpatient=view.id_history %}">{{ view.num_card }} {{ view.patient }}</a></p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item"><i class="fa fa-calendar"></i> {{ view.date_view|date:"d.m.Y H:i" }}</li>
            <li class="list-group-item"><i class="fa fa-user-md"></i> {{ view.nurse }} ({{ view.depart }})</li>
        </ul>
    </div>


    <table class="table table-sm">
        <thead>
            <tr>
                <th>Параметр</th>
                <th>Значение</th>
            </tr>
        </thead>
        <tbody>
            {%  for item in values %}
            <tr>
                <td>{{ item.param_name }}</td>
                <td>{{ item.value1 }}  {% if item.value2 > 0 %} {{ item.value2 }} {% endif %} {% if item.unit %} {{ item.unit }} {% endif %}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>


    <div class="text-center">
        <a href="{% url 'list_nurse' idpatient=view.id_history %}" class="btn btn-outline-primary">К температурным листам</a>
    </div>

{% endblock %}