{% extends "cconline/base_nurse.html" %}
{% load staticfiles %}

{% block body %}
        <ul class="nav justify-content-center">
            <li class="nav-item" ng-class="labClass"><a href="#/lab" class="btn btn-outline-primary" role="button" title="Анализы"><i class="fa fa-flask"></i> </a></li>
            <li class="nav-item" ng-class="examClass"><a href="#/exam" class="btn btn-outline-primary" role="button" title="Обследования"><i class="fa fa-desktop"></i> </a></li>
            <li class="nav-item" ng-class="drugClass"><a href="#/drug" class="btn btn-outline-primary" role="button" title="Лек. препараты и назначения"><i class="fa fa-medkit"></i></a></li>
            <li class="nav-item" ng-class="doctorClass"><a href="#/doctor" class="btn btn-outline-primary"role="button" title="Проф. осмотры"><i class="fa fa-stethoscope"></i></a></li>
        </ul>

<div ng-controller="HelperCtrl">
    <div ng-view>
    </div>
</div>


{% endblock %}