{% extends "cconline/base.html" %}

{% block body %}
    <div class="center-block">
        <h4>Отделение {{ depart }}</h4>
    </div>

    {%  for item in patients %}
        <p>
        <a href="/nurse/patient/{{ item.id }}" class="btn btn-primary btn-lg center-block" role="button">
            №{{ item.num_history }} {{ item.lastname }}
        </a>
        </p>
    {% endfor %}

    <p>
        </br>
        <a href="/" class="text-center btn btn-default btn-sm center-block">На главную</a>
    </p>

{% endblock %}