{% extends "cconline/base.html" %}
{% load cconline_extras %}

{% block body %}


    <div class="card">
        <div class="card-body">
            <h4 class="card-title">{% if patient.gender == 0 %}<i class="fa fa-female"></i> {% else %} <i class="fa fa-male"></i> {% endif %}<a href="{% url 'get_patient' idpatient=operation.id_history %}">{{ operation.patient }} </a></h4>
            <p class="card-text">{{ operation.surgery_name }}</p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item"><i class="fa fa-info"></i> {{ operation.surgery_type }} </li>
            <li class="list-group-item"><i class="fa fa-calendar"></i> {{ operation.surgery_date|date:"d.m.Y" }}</li>
            <li class="list-group-item"><i class="fa fa-user-md"></i> {{ operation.surgeon }}</li>
            <li class="list-group-item"><i class="fa fa-users"></i> {{ operation.assistent1 }} {{ operation.assistent2 }} {{ operation.assistent3 }}</li>
            <li class="list-group-item"><i class="fa fa-medkit"></i> {{ operation.opernurse }}</li>
            <li class="list-group-item"><i class="fa fa-tint"></i> {{ operation.perfusiolog }}</li>
            <li class="list-group-item"><i class="fa fa-snowflake-o"></i> {{ operation.anestesiolog }}</li>
            <li class="list-group-item"><i class="fa fa-file-text-o"></i> {{ operation.conclusion }}</li>
            {% if adv_info %}
                <li class="list-group-item"><i class="fa fa-exchange"></i> {{ adv_info|ccrlf }}</li>
            {% endif %}
        </ul>
    </div>

    </p>

    <div class="text-center">
        <a href="{% url 'list_surgery' idpatient=operation.id_history %}" class="btn btn-outline-primary">К списку операций</a>
    </div>

{% endblock %}