{% extends "cconline/base.html" %}

{% block body %}
    <div class="center-block">
        <h2>{{ current_place }} </h2>
        {% if from_departs %}
            <p>
                <a href="{% url 'patient_by_depart' %}">К списку отделений</a>
            </p>
        {% endif %}
    </div>

    <table class="table">
        <tbody>
            {%  for item in patients %}
            <tr>
                <td><a href="{% url 'get_patient' idpatient=item.id %}"> {{ item.num_history }}</a></td>
                <td><a href="{% url 'get_patient' idpatient=item.id %}">{{ item.lastname }}</br>{{ item.firstname }}</br>{{ item.middlename }}</a></td>
                <td><a href="{% url 'get_patient' idpatient=item.id %}">{{ item.receipt|date:"d.m.Y" }}</a></td>
                <td><a href="{% url 'get_patient' idpatient=item.id %}">{{ item.doctor }}</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>


{% endblock %}