{% extends "cconline/base.html" %}
{% load cconline_extras %}

{% block body %}

    <div class="card">
        <div class="card-body">
            <h4 class="card-title">
                <i class="fa fa-user-md" aria-hidden="true"></i>Запись лечащего врача
            </h4>
            <h6 class="card-subtitle mb-2 text-muted">
                <a href="{% url 'get_patient' idpatient=patient.id %}">{{ patient.lastname }} {{ patient.firstname }} {{ patient.middlename }}</a>
            </h6>

        </div>
        <ul class="list-group list-group-flush">
        {% for item in first_view %}
            <li class="list-group-item">
                <strong>
                    <a href="{% url 'get_doctor_view' idpatient=item.id_history idparam=item.id_param %}" >{{ item.param_name }}</a>
                </strong> {{ item.text }}
            </li>
        {% endfor %}
        </ul>
        <div class="card-body">
            <a href="{% url 'add_doctor_view' idpatient=patient.id %}" class="card-link">Добавить запись</a>
        </div>
    </div>

{% endblock %}