{% extends "cconline/base.html" %}
{% load cconline_extras %}

{% block body %}

    <h2><a href="{% url 'get_patient' idpatient=patient.id %}">№{{ patient.num_history }} {{ patient.lastname }}</a></h2>

    <p><strong>Дата рождения</strong>: {{ patient.dob|date:"d.m.Y" }} ({{ age }})</p>
    <p><strong>Отделение</strong>: {{ patient.id_depart.name }}</p>
    <p><strong>Лечащий врач</strong>: {{ patient.id_doctor.name }}</p>
    <p><strong>Госпитализирован</strong>: {{ patient.receipt|date:"d.m.Y H:d" }} в {% if patient.extreme_type == 0 %} плановом {% else %} <span class="text-danger">экстренном</span>{% endif %} порядке</p>
    <p><strong>Выписан</strong>: {% if patient.discharge %} {{ patient.discharge|date:"d.m.Y H:d" }} {% else %} находится на лечении {% endif %}</p>

    {% for item in first_view %}
        {% if item.text|trim_str != "" %}<p><strong>{{ item.param_name }}</strong>: {{ item.text }}</p>{% endif %}
    {% endfor %}

{% endblock %}