{% extends "cconline/base.html" %}
{% load staticfiles %}

{% block body %}
  <div class="card w-100">
        <div class="card border-dark">
          <div class="card-header">Профиль пользователя</div>
          <div class="card-body text-dark">
              <h4 class="card-title">{{ user.username }}</h4>
              <p class="card-text"><i class="fa fa-user-md" aria-hidden="true"></i> {{ user.last_name }} {{ user.first_name }}</p>
              <p class="card-text"><i class="fa fa-envelope-o" aria-hidden="true"></i> {{ user.email }}</p>
              <a href="{% url 'password_change' %}" class="btn btn-primary">Сменить пароль</a>
              <a href="{% url 'index' %}" class="btn btn-primary" >Закрыть</a>
          </div>
        </div>
  </div>
{% endblock %}
