{% extends "cconline/base.html" %}
{% load cconline_extras %}

{% block body %}

    <p><a href="/proview/list/{{ idpatient }}">К списку осмотров</a></p>
    <h4 class="text-center">{{ proview.specname }}</h4>
    <p><strong>Пациент:</strong> {{ patient }} </p>
    <p><strong>Врач</strong>: {{ proview.doctor }}</p>
    <p><strong>Дата осмотра</strong>: {{ proview.viewdate|date:"d.m.Y H:i"}} </p>

    {% for item in pages %}
        <p><strong>{{ item.param_name }}</strong>: {{ item.text }}</p>
    {% endfor %}

    <p><strong>Заключение</strong>: {% if proview.conclusion %} {{ proview.conclusion|ccrlf }} {% endif %} </p>
    {% if not proview.conclusion %} <p><a href="" class="btn btn-primary" role="button">Добавить заключение</a></p> {% endif %}
    <p><a href="{% url 'list_proview' idpatient=idpatient %}">К списку осмотров</a></p>

{% endblock %}