{% extends "cconline/base.html" %}
{% load staticfiles %}

{% block jscript %}
    <title>Пожалуйста подождите...</title>
    <meta http-equiv="refresh" content="5; url={{ redirect_url }}">
{%endblock%}

{% block body %}
    <table class="table table-bordered">
        <tr>
            <td width="100%" align="center" {% if type_message %} {% endif %}>
                <div>
                {{ message }}<br/><br/>
                пожалуйста подождите пока происходит перенаправление<br/><br/>
                (<a href='{{ redirect_url }}'>Либо нажмите здесь, если не желаете ждать</a>)
                </div>
            </td>
        </tr>
    </table>
{% endblock %}