{% extends "cconline/base.html" %}
{% load staticfiles %}

{% block body %}
<h2>Статистика</h2>

<div class="container">
    <h3>Заполненность отделений</h3>
    <table class="table table-condensed">
        <thead>
            <tr>
                <th>Отделение</th>
                <th class="text-center">Кол-во пациентов</th>
            </tr>
        </thead>
        <tbody>
            {%  for item in departs %}
            <tr>
                <td>{{ item.name }}</td>
                <td class="text-center">{{ item.cnt }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <h3>Госпитализация</h3>
    <table class="table table-condensed">
        <thead>
            <tr>
                <th>Дата</th>
                <th class="text-center">Экстренно</th>
                <th class="text-center">Планово</th>
                <th class="text-center">Всего</th>
            </tr>
        </thead>
        <tbody>
            {%  for item in hospit %}
            <tr>
                <td>{{ item.hosp_date }}</td>
                <td class="text-center">{{ item.cnt_extreme }}</td>
                <td class="text-center">{{ item.cnt_plan }}</td>
                <td class="text-center">{{ item.cnt_all }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <h3>Пользователи</h3>
    <table class="table table-condensed">
        <thead>
            <tr>
                <th>Отделение</th>
                <th class="text-center">Пользователи</th>
                <th class="text-center">Подключены к ККО</th>
            </tr>
        </thead>
        <tbody>
            {%  for item in users %}
            <tr>
                <td>{{ item.user_name }}</td>
                <td class="text-center">{{ item.cnt_system }}</td>
                <td class="text-center">{{ item.cnt_web }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</div>

{% endblock %}