{% extends "cconline/base.html" %}
{% load staticfiles %}

{% block body %}
    <h3>Статистика</h3>
    <h4>Заполненность отделений</h4>
    <table class="table table-bordered">
        <thead class="thead align-middle">
            <tr>
                <th>Отделение</th>
                <th>Кол-во пациентов</th>
            </tr>
        </thead>
        <tbody>
            {%  for item in departs %}
            <tr>
                <td>{{ item.name }}</td>
                <td class="text-center">{{ item.cnt }}</td>
            </tr>
            {% endfor %}
            <tr>
                <td colspan="2" class="text-center"><b>Итого по клиникам</b></td>
            </tr>
            {%  for item in totals %}
            <tr>
                <td>{{ item.clinic }}</td>
                <td class="text-center">{{ item.patients }}</td>
            </tr>
            {% endfor %}

        </tbody>
    </table>

    <h4>Госпитализация</h4>
    <table class="table table-bordered">
        <thead class="thead-default">
            <tr>
                <th>Дата</th>
                <th>Экстр.</th>
                <th>План.</th>
                <th>Всего</th>
            </tr>
        </thead>
        <tbody>
            {%  for item in hospit %}
            <tr>
                <td>{{ item.hosp_date|date:"M d" }}</td>
                <td class="text-center">{{ item.cnt_extreme }}</td>
                <td class="text-center">{{ item.cnt_plan }}</td>
                <td class="text-center">{{ item.cnt_all }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="text-center">
        <a href="/" class="btn btn-outline-primary" role="button">На главную</a>
    </div>
{% endblock %}