{% extends "admin/admin_base.html" %}
{% load staticfiles %}
{% load cconline_extras %}

{% block extrastyle %}{% endblock %}

{% block title %}Вход на сайт{% endblock %}

{% block content %}
<div class="container">

    <h3 class="text-center">КардиоКарта <img src="{% static 'images/reactedhearticon.svg'%}"> Онлайн</h3>

    {% if form.errors %}
        <p class="text-center text-danger">Неверно указан логин или пароль. Повторите ещё раз.</p>
    {% endif %}

    <form class="form-signin" role="form" action='.' method='post'>
        {% csrf_token %}
    	<label for="id_username" class="required">{{ form.username.label }}:</label> {{ form.username|addcss:"form-control" }}
	    <label for="id_password" class="required">{{ form.password.label }}:</label> {{ form.password|addcss:"form-control" }}
        <div class="checkbox">
            <label><input type="checkbox" name="remember_me" value="1"> Запомнить</label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Вход</button>
        <input type="hidden" name="this_is_the_login_form" value="1" />
        <input type="hidden" name="next" value="/" />
    </form>

    <script type="text/javascript">
        if (document.getElementById('id_username').value ==  ""){
            document.getElementById('id_username').focus()
        }
        else{
            document.getElementById('id_password').focus()
        }
    </script>

</div>
{% endblock %}