{% extends "admin/admin_base.html" %}
{% load staticfiles %}

{% block extrastyle %}{% endblock %}

{% block title %}Смена пароля пользователя {% endblock %}

{% block content %}
    <div id="content-main">
        <img class="img-circle responsive center-block" src=" {% static 'img/ch_pass.png' %}"  alt="Смена пароля">
        <form action="" method="post" class="form-signin">{% csrf_token %}
        <div>

            <h1>Смена пароля</h1>

            <p>Укажите текущий пароль и введите новый пароль с подтверждением</p>
            {% if form.errors %}
                <p class="errornote">
                {% if form.errors.items|length == 1 %}Исправьте ошибку{% else %}Исправьте указанные ниже ошибки{% endif %}
                </p>
            {% endif %}

                <label for="id_login" class="required">Логин: </label>
                <input class="form-control" id="id_login" type="text" placeholder="{% firstof user.get_short_name user.get_username %}" disabled>

                {{ form.old_password.errors }}
                <label for="id_old_password" class="required">Текущий пароль:</label>
                <input type="password" class="form-control" id="id_old_password" name="old_password" required >

                {{ form.new_password1.errors }}
                <label for="id_new_password1" class="required">Новый пароль:</label>
                <input type="password" class="form-control" id="id_new_password1" name="new_password1" required>

            {{ form.new_password2.errors }}
                <label for="id_new_password2" class="required">Подтверждение:</label>
                <input type="password" class="form-control" id="id_new_password2" name="new_password2" required>


                <button type="submit" class="btn btn-warning">Изменить</button>
                <a class="btn btn-danger" href="/profile">Отменить</a>


            <script type="text/javascript">document.getElementById("id_old_password").focus();</script>
            </div>
        </form>
    </div>

{% endblock %}