{% extends "admin/admin_base.html" %}
{% load staticfiles %}

{% block extrastyle %}{% endblock %}

{% block title %}Пароль изменён{% endblock %}

{% block content %}
    <div id="content-main">
        <img class="img-circle responsive center-block" src=" {% static 'img/ch_pass.png' %}"  alt="Смена пароля">
        <div class="form-signin">
            <h1>Смена пароля</h1>
            <p>Пароль успешно изменён</p>
            <a class="btn btn-default" href="/">Вернуться</a>
        </div>
    </div>

{% endblock %}