{% extends "cconline/base.html" %}
{% load staticfiles %}


{% block body %}

<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <div class="text-center">
    <img src="{% static 'images/bug.svg' %}" width="64px" height="64px">
    <p align ="center">Произошла внутренняя ошибка сервера. </br>Отчёт об ошибке отправлен администратору. </br>Скоро всё починим!</p>
    <p><a href="/">Вернуться на главную страницу</a></p>
    </div>
  </div>
  <div class="col-md-4"></div>
</div>

{% endblock %}