{% extends "base.html" %}

{% block body %}
<div class="container-fluid">
    <p>
        <a href="/examens/list/{{ examen.id_history }}">К списку обследований</a>
    </p>
    <p><em>Пациент:</em> {{ examen.patient }} </p>
    <p><em>Отделение:</em> {{ examen.depart }}</p>
    <p><em>Врач:</em> {{ examen.doctor }} </p>
    <p><em>Назначен:</em> {{ examen.date_assign|date:"d.m.Y H:d" }}</p>
    <p><em>Принят м/с:</em> {{ examen.date_nurse|date:"d.m.Y H:d" }}</p>
    <p><em>Выполнен:</em> {{ examen.date_execute|date:"d.m.Y H:d" }}</p>

    <p class="bg-primary">Особенности</p>
    <p>
        {% if examen.feature_data %}
            {{ examen.feature_data }}
        {% endif %}
    </p>
    <p class="bg-primary">Заключения</p>
    <p>
        {% if examen.conclusion %}
        {{ examen.conclusion }}
        {% endif %}
    </p>
    <p>
        <a href="/examens/list/{{ examen.id_history }}">К списку обследований</a>
    </p>

</div>

{% endblock %}