{% extends "base.html" %}

{% block body %}
    <p>
        <em>Пользователь:</em> {{ current_doc }}
    </p>

    <p>
        <a href="/patients/my" class="btn btn-primary btn-lg active center-block" role="button">Мои пациенты</a>
    </p>
    <p>
        <a href="/patients/by_depart" class="btn btn-primary btn-lg active center-block" role="button">По отделениям</a>
    </p>
    <div class="row">
        <form class="form-inline" role="form">
          <div class="col-xs-8">
            <input type="email" class="form-control" id="exampleInputEmail3" placeholder="ФИО или № истории">
          </div>
          <button type="submit" class="btn btn-primary col-xs-3">Найти</button>
        </form>
    </div>
{% endblock %}