{% extends "base.html" %}

{% block body %}
    <p>
        <em>Пользователь:</em> {{ current_doc }}
    </p>
    <div class="col-lg-12">
    <p>
        <a href="/patients/my" class="btn btn-primary btn-lg active center-block" role="button">Мои пациенты</a>
    </p>
        </div>
    <div class="col-lg-12">
    <p>
        <a href="/patients/by_depart" class="btn btn-primary btn-lg active center-block" role="button">По отделениям</a>
    </p>
    </div>

    <div class="col-lg-12">
        <form action="/search/" method="post" role="form">{% csrf_token %}
            <div class="input-group">
                <input type="text" class="form-control" name="patient" placeholder="ФИО или № истории">
                <span class="input-group-btn">
                    <button type="submit" class="btn btn-primary" type="button">Поиск</button>
                </span>
            </div>
        </form>
    </div>
{% endblock %}