{% extends "base.html" %}

{% block body %}
    <div class="center-block">
        <h2>{{ current_place }} </h2>
    </div>

    <table class="table table-hover">
        <tbody>
            {%  for item in patients %}
            <tr>
                <td><a href="/patient/{{ item.id }}"> {{ item.num_history }}</a></td>
                <td><a href="/patient/{{ item.id }}">{{ item.lastname }}</a></td>
                <td><a href="/patient/{{ item.id }}">{{ item.receipt|date:"d.m.Y" }}</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>


{% endblock %}