{% extends "base.html" %}

{% block body %}
Пациент: {{ patient }} [ {{ num }} ]

<div class="row">
    <ul>
        <li><a href="/diary/list/{{ id }}"> Дневники пациента</a></li>
        <li><a href="/examens/list/{{ id }}">Обследования</a></li>
        <li><a href="/laboratory/list/{{ id }}">Лаборатория</a></li>
        <li><a href="/medication/list/{{ id }}">Назначения</a></li>
        <li><a href="/proffview/list/{{ id }}">Проф. осмотры</a></li>
        <li><a href="/nurse/list/{{ id }}">Сестринские осмотры</a></li>
    </ul>
</div>

{% endblock %}