{% extends "base.html" %}

{% block body %}
<h2 class="center-block">№{{ num }} {{ patient }}</h2>

<div class="table-responsive">
    <p><a href="/patient/first_view/{{ id }}" class="btn btn-primary btn-lg active center-block" role="button" >Первичный осмотр</a></p>
    <p><a href="/patient/getinfo/{{ id }}" class="btn btn-primary btn-lg active center-block" role="button">Расширенная информация</a></p>
    {% if "DOCTOR" in list_group  or "MASTER_NURSE" in list_group %}
        <p><a href="/diary/list/{{ id }}" class="btn btn-primary btn-lg active center-block" role="button"> Дневники пациента</a></p>
        <p><a href="/examens/list/{{ id }}" class="btn btn-primary btn-lg active center-block" role="button">Обследования</a></p>
        <p><a href="/laboratory/list/{{ id }}" class="btn btn-primary btn-lg active center-block" role="button">Лаборатория</a></p>
        <p><a href="/medication/list/{{ id }}" class="btn btn-primary btn-lg active center-block" role="button">Назначения</a></p>
        <p><a href="/proview/list/{{ id }}" class="btn btn-primary btn-lg active center-block" role="button">Проф. осмотры</a></p>
        <p><a href="/operations/{{ id }}" class="btn btn-primary btn-lg active center-block" role="button">Операции</a></p>
    {% endif %}
    <p><a href="/nurse/list/{{ id }}" class="btn btn-primary btn-lg active center-block" role="button">Сестринские осмотры</a></p>
</div>

{% endblock %}