{% extends "base.html" %}
{% load cconline_extras %}

{% block body %}

    <p><a href="/patient/{{ patient.id }}">Пациент: {{ patient.firstname }} [ {{ patient.num_history }} ]</a></p>
    <p><strong>Госпитализирован</strong>: {{ patient.receipt|date:"d.m.Y H:d" }}</p>
    <p><strong>Выписан</strong>: {% if patient.discharge %} {{ patient.discharge|date:"d.m.Y H:d" }} {% else %} находится на лечении {% endif %}</p>


    {% for item in first_view %}
        {% if item.text|trim_str != "" %}<p><strong>{{ item.param_name }}</strong>: {{ item.text }}</p>{% endif %}
    {% endfor %}

{% endblock %}