{% extends "base.html" %}

{% block body %}
Пользователь: {{ current_doc }}

<div class="table-responsive">
    <table class="table table-hover table-responsive">
        <thead>
            <tr>
                <th>#</th>
                <th>ФИО</th>
                <th>Дата рожд.</th>
                <th>Госпитализ</th>
            </tr>
        </thead>
        <tbody>
            {%  for item in patients %}
            <tr>
                <td><a href="/patient/{{ item.id }}"> {{ item.num_history }}</a></td>
                <td>{{ item.lastname }}</td>
                <td>{{ item.dob|date:"d.m.Y" }}</td>
                <td>{{ item.receipt|date:"d.m.Y" }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}