{% extends "base.html" %}

{% block body %}
<h2><a href="/patient/{{ idpatient }}">№{{ num}} {{ patient }}</a></h2>
<div class="center-block">
    <h3>Осмотры профильных специалистов</h3>
</div>

<div class="table-responsive">
    <table class="table table-hover table-responsive">
        <tbody>
            {%  for item in diarys %}
            <tr>
                <td><a href="/diary/{{ item.id }}"> {{ item.reg_date|date:"d.m.Y H:d" }}</a></td>
                <td><a href="/diary/{{ item.id }}">{{ item.doctor }}</a></td>
                <td><a href="/diary/{{ item.id }}">{{ item.depart_name }}</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}