<div class="container">
    <div class="row mt-3">
        <div class="col"></div>
        <div class="col text-center">
            <div class="btn-group" ng-repeat="button in dates">
              <button type="button" class="btn btn-primary" ng-class="{active : datavalue.mode === button.value}" ng-click="setDateValue(button.value);getRefreshData()">{{button.label}}</button>
            </div>
        </div>
        <div class="col"></div>
    </div>
</div>

<div after-render="getRefreshData"></div>
<div class="container">
    <button type="button" class="btn btn-success pull-right" ng-click="getRefreshData()">Обновить</button>
    <table class="table table-condensed">
        <thead>
            <th>Назначен</th>
            <th>Препарат</th>
            <th>Пациент</th>
            <th></th>
        </thead>
        <tbody>
            <tr ng-repeat="item in drugs">
                <td>{{ item.fields.datetime_plan | date:"HH:mm" }}</td>
                <td>{{ item.fields.medic_name }}</td>
                <td>{{ item.fields.patient }} ({{ item.fields.num_history }})</td>
                <td><button type="button" class="btn btn-success" ng-click="delete($index)">Выполнить</button></td>
            </tr>
        </tbody>
    </table>
</div>